body{
    background: linear-gradient(to right, white, lightblue);
}
/*made start display and have columns*/
#start {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    margin-left: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; ;
    margin: auto;
    position: relative;
    width: 500px;
    height: 500px;
}


button{
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    margin-top: 3px;
    margin-left: 25px;
    padding: 10px;
}

/*display none so it wouldnt shoow at starter page*/
#quiz {
    display: none;
}

#result {
    display: none;
}

#endQuiz {
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
}

#highScorePage{
    display: none;
    width: 50%;
    border: solid;
    border-color: silver;
    border-bottom-style: groove;
    padding-bottom: .3rem;
    background: lightsteelblue;
    margin: auto;
}

#endGame{
    display: none;
}