/*made start display and have columns*/
#start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quiz {
    display: none;
}

#result {
    display: none;
}

#endQuiz {
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
}

#highScorePage{
    display: none;
    width: 50%;
    border: solid;
    border-color: silver;
    border-bottom-style: groove;
    padding-bottom: .3rem;
    background: lightsteelblue;
    margin: auto;
}

#endGame{
    display: none;
}